/* All Styling */
* {box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif ;
}
/* Navigation Style*/

.main-header{
    background-image: url(../images/background1.jpg);
    background-size: cover;
    opacity: 75%;
    padding-bottom: 30px;
    text-align: center;
    
}

.main-header a{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: saddlebrown;
    text-decoration: none;
}

.nav a:hover{
    background-color: bisque;
}

.Page-Name {
    text-align: center;
    margin: 0;
    font-size: 7em;
    
}
.Business-Name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    
}
/* Base Style*/
html,body    {
    margin: 0;
    padding: 0;
    font-size: medium;
    color: saddlebrown;
}

/* Content - Containers and Columns */
.content {
    margin: 1em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.content-header{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
}
.content-image{
    float: left;
    margin: 12px;
    border-radius: 50%;
}

/* Footer */
.footer{
    background-color: saddlebrown;
    color: bisque;
    padding: .25em 0;
}
.footer-container{
    display: flex;
    align-items: center;
}

.footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-container li {
    padding: 0 .5em;
    list-style-type: none;
}

/* Button */
.btn-success {
    background-color: dodgerblue;
    border-color: dodgerblue;
}
.btn-success:hover {
    background-color: deepskyblue;
    border-color: deepskyblue;
}